body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: yellowgreen;
    margin: 0;
    padding: 20px;
  }
h2{
text-align: center;
 color: pink;
  font-size: 50px;
  margin-bottom: 20px;
}  
p{
  color:purple;
}
time{
  color: blue;
}